.kitten {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  background-image: url(http://placekitten.com/800/800/);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.kittens {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  background-image: url('https://placekitten.com/200/200');
}

